<template name="loginScreen">
  <div class="content">
    <div class="centered"><img src="/images/icon/dialog_password.png" class="img-circle-list"></div>
    <div class="card">
      <form class="input-group">
        <div class="input-row">
          <label>Username</label>
          <input type="username" placeholder="hellomission@me.com" name="username">
        </div>
        <div class="input-row">
          <label>Password</label>
          <input type="password" name="password">
        </div>
      </form>
      <div class="centered">
        <p><a href="#">비밀번호가 기억나지 않습니다.</a></p>
        <button class="btn btn-positive" name="btnJoin">회원가입</button>
        <button class="btn btn-positive" name="btnLogin">로그인</button>
      </div>
    </div>
  </div>
</template>